h3{
    margin-left: 40px;
    font-size: 28px;
    color: rgba(5, 82, 13, 1);
    font-family: 'lucida_demibold';
}
.p{
    font-size: 24px;
    margin-top: 75px;
    color: rgba(134, 53, 3, 1);
}

main{
    display: flex;
    justify-content: center;
}

.container{
    margin-top: 125px;
    width: 1060px;
}

.txt1{
    float: left;
    width: 400px;
}

.img1{
    float: right;
}

.txt2{
    margin-top: 600px;
    margin-left: 100%;
    transform: translate(-100%);
    width: 400px;
}

.img2{

    margin-top: -230px;
}
.txt3{
    margin-top: 50px;
    width: 400px;
}

.img3{
    margin-left: 100%;
    transform: translate(-100%);
    margin-top: -230px;
}

footer{
    width: 100%;
}



































